<!-- <app-create></app-create>
<app-read></app-read> -->

<!-- <h1>Angular http call</h1>
<button (click)="getPosts()">Get Posts</button>

<div *ngFor="let post of posts | async">
  {{ post | json }}
</div> -->

<app-bulma></app-bulma>
